<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{{ path('app_admin') }}" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Onboarding Api</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">

        <li class="menu-item {{ app.request.pathinfo == path('app_admin') ? 'active' : '' }}">
            <a href="{{ path('app_admin') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Administration</span>
        </li>
        <li class="menu-item {{ path('app_api_token_index') in app.request.pathinfo ? 'active' : '' }}">
            <a href="{{ path('app_api_token_index') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-key"></i>
                <div data-i18n="Basic">Tokens</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Users</span>
        </li>
        <li class="menu-item {{ path('app_user_index') in app.request.pathinfo ? 'active' : '' }}">
            <a href="{{ path('app_user_index') }}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Basic">Users</div>
            </a>
        </li>

    </ul>
</aside>
<!-- / Menu -->