<div class="card mt-4 mb-4">
    <h5 class="card-header">My stories</h5>
    <div>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Started At</th>
                    <th>Finished at</th>
                    <th>Experience earned</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for story in user_stories %}
                    <tr>
                        <td>{{ story.title }}</td>
                        <td>{{ story.description }}</td>
                        <td>{{ story.status }}</td>
                        <td>{{ story.startedAt ? story.startedAt|date('d/m/Y H:i') : '' }}</td>
                        <td>{{ story.endedAt ? story.endedAt|date('d/m/Y H:i') : '' }}</td>
                        <td>{{ story.experienceEarned }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No stories found</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>